/*********************************************************/
/*//////////////////////// PAGES ////////////////////////*/
/*********************************************************/

/*///////////// COMMON STYLES ///////////////////*/

section .ButtonGroup,
section .AppBtn,
section .LineBtn {
  margin-top: 16px;
}

/*////////////// SECTION TEMPLATES //////////////*/

/*---------- Section Wrap ---------*/

.SectionWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding);
  /* border: 0.5px solid rgb(174, 174, 174) */
}

/*---- Base Section ----*/

.BaseSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

/*---- Center Section ----*/

.CenterSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.CenterContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.CenterHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.CenterWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CenterHeading h5,
.CenterHeading p {
  width: 100%;
  max-width: 1000px;
}

/*---- Zero Section ----*/

.ZeroSectionWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 0;
}

.ZeroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

/*---- Side Section ----*/

.SideSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
  /* align-items: stretch; */
}

/* .SideSection {
  min-height: 450px;
} */

.MiddleSpace {
  margin-bottom: 100px;
}

.Left,
.Right {
  display: flex;
  flex-direction: row;
}

.Left .SideTxt {
  margin-right: 5vw;
}
.Right .SideTxt {
  margin-left: 5vw;
}

.SideTxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.SideImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.CenterTxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}

.CenterImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.SideImg img,
.CenterImg img,
.SideImg video,
.CenterImg video {
  width: 100%;
  height: auto;
}

.ImgWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.SquareImgWrap img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/*-------- Divided Section -------*/

.DivSectionWrap {
  display: flex;
  padding: var(--padding);
  position: relative;
  min-height: 450px;
}

.DivSectionWrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* .DivSectionWrap.DivRight::before {
  background: linear-gradient(105deg, transparent 50%, white 50%) no-repeat
    center right / cover;
}

.DivSectionWrap.DivLeft::before {
  background: linear-gradient(105deg, white 50%, transparent 50%) no-repeat
    center right / cover;
} */

.DivSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  /* border: 1px solid red; */
}

.DivSection .SideTxt {
  width: 45%;
}
.DivSection .SideImg {
  width: 55%;
}

/* -------- HERO SECTION --------*/

.HeroVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  direction: ltr;
  overflow: hidden;
}

.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  z-index: 0;
  background: linear-gradient(180deg, 
  rgba(11, 15, 22, 0.8),
  rgba(11, 15, 22, 0.4),
  rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0.1),
  rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 0), 
  rgba(0, 0, 0, 0));
}

.HeroSectionWrap {
  width: 100%;
  /* height: 850px; */
  overflow: hidden;
  margin-top: -100px;
  box-sizing: border-box;
  overflow-y: hidden;
  z-index: 1;
  position: relative;
  background: black;
}

.HeroSection {
  /* max-width: 1400px; */
  margin: auto;
  height: 850px;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
}

.MainHeroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  z-index: 2;
}

.HeroContent {
  display: flex;
  flex-direction: column;
  z-index: 2;
  width: max-content;
  max-width: 600px;
  min-width: 550px;
  padding: var(--paddingHero);
  border-radius: 0 150px 150px 0 ;
}

.HeroContent.Wide {
  max-width: 680px;
}


.HeroTitle {
  padding: 50px 0 30px 0;

}

.HeroSection .AppBtn button {
  margin-top: 40px;
  box-shadow: var(--herobtn);
}

.HeroSection h1 {
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 6px;
  /* font-size: 60px;
  width: 60%; */
  color: var(--white);
  text-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
}

.HeroSection h6 {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 24px;
  letter-spacing: 0.06rem;
}

/*///////////////////// HERO ////////////////////*/

#main-hero .HeroSection  {
  justify-content: center;
}

#innovation-hero .HeroContent,
#projects-hero .HeroContent,
#services-hero .HeroContent {
  background: var(--heroBlue);
}
#tech-hero .HeroContent,
#eco-hero .HeroContent,
#about-hero .HeroContent {
  background: var(--heroGreen);
}

#innovation-hero {
  background: linear-gradient(180deg, 
  var(--heroBlue2), transparent, transparent),
  url(../public/bg/bg-innovation.jpg) no-repeat center/cover;
}

#services-hero {
  background: linear-gradient(180deg, 
  var(--heroBlue2), transparent, transparent),
  url(../public/img/bg-residus.jpg) no-repeat center/cover;
}

#tech-hero {
  background: linear-gradient(180deg, 
  var(--heroGreen2), transparent, transparent),
  url(../public/bg/bg-tech.jpg) no-repeat bottom/cover;
}

#eco-hero {
  background: linear-gradient(180deg, 
  var(--heroGreen2), transparent, transparent, transparent),
  url(../public/img/bg-eco.jpg) no-repeat center/cover;
}

#about-hero {
  background: linear-gradient(180deg, 
  var(--heroGreen2), transparent, transparent),
  url(../public/img/bg-about.jpg) no-repeat top/cover;
}


#projects-hero {
  background: linear-gradient(180deg, 
  var(--heroBlue2), transparent),
  url(../public/img/water2.jpg) no-repeat center/cover;

}

#projects-hero .HeroSection {
  height: 600px;
}


/*////////////////// DIVIDERS ////////////////////*/

.GradStripe {
  width: 100%;
  height: 14px;
  background: var(--darkGrad);
}

.Stripe {
  width: 100%;
  height: 50px;
} 

.Stripe.Blue {
  background: url("../public/bg/blue-stripe.jpg") 
  no-repeat top right / cover;
}

.Stripe.Green {
  background: url("../public/bg/green-stripe.jpg") 
  no-repeat center / cover;
}

.Stripe.Brown {
  background: url("../public/bg/brown-stripe.jpg") 
  no-repeat center right / cover;
}

/*//////////////////// QUOTES //////////////////*/

.QuoteContent {
  text-align: center;
  padding: 50px ;
}

.QuoteContent h4 {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 2.2rem;
  letter-spacing: 0.03rem;
}
 
#innovation-quote {
  background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(18, 33, 87, 0.6),
      rgba(18, 33, 87, 0.6),
      rgba(0, 0, 0, 0.2)),
    url("../public/img/water2.jpg") 
    no-repeat center right / cover;
}

#eco-quote {
  background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(9, 49, 34, 0.6),
      rgba(9, 49, 34, 0.6),
      rgba(0, 0, 0, 0.2)),
    url("../public/img/leaf.jpg") 
    no-repeat center right / cover;
}

#about-quote {
  background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(49, 20, 9, 0.6),
      rgba(49, 20, 9, 0.6),
      rgba(0, 0, 0, 0.2)),
    url("../public/img/leather3.jpg") 
    no-repeat center right / cover;
}

/*/////////////// MAIN PAGE /////////////////////*/

/* TECH */

#main-tech {
  display: flex;
  background: 
  url("../public/bg/bg-main.jpg") 
  no-repeat bottom right / 100%;
  /* padding-bottom: 100px; */
}

#main-tech .CenterSection {
  max-width: 1200px;
}

section video {
  display: flex;
  width: 100%;
  border-radius: 10px;
  /* border: 6px solid var(--tgreen4); */
  box-shadow: var(--sh-);
  margin-top: 20px;
}

.TextGroup {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 12px;
}

.TextGroup .HalfText {
  width: 70%;
}

/* INNOVATION */

#main-innovation {
  background: url("../public/img/lab.jpg") 
  no-repeat center right / auto 100% ;
}

#main-innovation::before {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient( var(--blue5), var(--blue5)),
    url("../public/img/water2.jpg") no-repeat center / cover;
  /* background-blend-mode: multiply; */
  clip-path: polygon(0 0, 55% 0, 45% 101%, 0 101%);
}

#innovation::before {
  background: linear-gradient(105deg, var(--blue4) 53%, transparent 47%) no-repeat
  center right / cover;
}  

/* RESIDUS */

#main-services {
  background: url("../public/img/img-residus.jpg") 
  no-repeat center right / auto 100% ;
}

#main-services::before {
  content: ""; /* Required for pseudo-elements */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
    url("../public/bg/bg-green.png") no-repeat center left / cover;
  clip-path: polygon(0 0, 55% 0, 45% 101%, 0 101%);
  }

/* ABOUT */

#main-about {
  background: url("../public/img//img-pells.jpg") 
  no-repeat center right / auto 100% ;
}

#main-about::before {
  content: ""; /* Required for pseudo-elements */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient( var(--brown3), var(--brown3)),
    url("../public/img/leather.jpg") no-repeat center / cover;
  clip-path: polygon(0 0, 55% 0, 45% 101%, 0 101%);
  }

/* SOCIS */

#main-socis {
  /* background: rgb(210, 210, 210); */
}

.center-subtitle {
  width: 100%;
  max-width: 1000px;
  text-align: center;
}

/*//////////////////////// LA PLANTA /////////////////////*/

#tech-main .Numbers h1 {
  font-size: 3.8rem;
}

#tech-planta .CenterSection {
  max-width: 1200px;
}

/*//////////////////////// SOSTENIBILITAT /////////////////////*/


#eco-cicle .CenterSection {
  align-items: center;
}

#eco-cicle .Content {
  max-width: 1200px;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
}

#eco-cicle .SideImg {
  width: 40%;
}
#eco-cicle .SideTxt {
  width: 60%;
  margin-left: 40px;
}

#eco-compromis {
  padding-bottom: 0;
}

.ZeroSection .CenterHeading {
  padding: 0 6%;
}

#eco-cert .CenterSection {
  max-width: 1000px;
}

/*//////////////////////// SERVEIS /////////////////////*/


#services-codes {
  background: var(--grey);
  border-bottom: 0.5px solid var(--grey3);
}

#services-stripe {
  display: none;
}

#services-contact {
  /* border-top: 0.5px solid var(--grey2); */
}

#services-contact  {
  background: url("../public/img/img-contacte.jpg") 
  no-repeat center right / auto 100% ;
}

/* #services-contact .SideImg {
  background: url("../public/img/lab.jpg") 
  no-repeat center right / auto 100% ;
  height: 100%;
  width: 100%;
} */

#services-contact::before {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

/*//////////////////////// EMPRESA /////////////////////*/







/*********************************************************/
/*/////////////////// RESPONSIVE STYLES /////////////////*/
/*********************************************************/


@media (min-width: 1800px) {
/*   
  #innovation {
    background: url("../public/img/img-lab.jpg") 
    no-repeat center right / auto 40vw;
  }
  
  #innovation::before {
    background: linear-gradient(105deg, var(--blue4) 60vw, transparent 40vw) no-repeat
    center right / cover;
  }  */

}

@media (min-width: 1025px) {
  .ImgWrap {
    width: calc(50% + ((100vw - 1024px) / (1500px - 1024px)) * 50%);
    height: 440px;
  }
}

@media (max-width: 1400px) {

  .DivSectionWrap {
    min-height: 0px;
    padding: var(--padding-1024);
  }

  h3 {
    font-size: 3.2vw;
    line-height: 3.8vw;
  }
}

@media (max-width: 1280px) {

    /* section,
  .HeroSection,
  .FooterContent {
    padding: 80px;
  }

  h2 {
    font-size: 3.5vw;
    line-height: 4vw;
  }*/

}

@media (max-width: 1024px) {

  .SectionWrap,
  .DivSectionWrap {
    padding: var(--padding-1024);
  }

  .HeroSectionWrap {
    height: 100vh;
    margin-top: -80px;
  }

  .HeroSection {
    height: 100vh;
  }

  h2 {
    font-size: 5vw;
    line-height: 5.8vw;
  }

  h3 {
    font-size: 4.4vw;
    line-height: 5.4vw;
  }

  .Right {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .Left {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .Left .SideTxt,
  .Right .SideTxt,
  .Left .SideImg,
  .Right .SideImg {
    width: 100%;
    margin: 0;
   }

    .Left .SideTxt,
    .Right .SideTxt {
      padding-bottom: 40px;
      padding-left: 0;
      padding-right: 0;
    }

    .Left .SideImg,
    .Right .SideImg {
      display: flex;
    }

    .Left .SideImg img,
    .Right .SideImg img {
      width: 100%;
      height: auto;
      top: 0;
      left: 0;
    }

    .ImgWrap {
      width: 100%;
      height: auto;
    }

  .QuoteContent h4 {
    font-size: 3vw;
    line-height: 4vw;
  }

  .HeroContent {
    width: 75%;
    min-width: 0;
    padding: var(--paddingHero-1024);
  }

  .MiddleSpace {
    margin-bottom: 80px;
  }
    
  .DivSectionWrap {
    min-height: 0;
  }

  .DivSectionWrap img {
    border-radius: 8px;
  }
  
  #eco-cicle .SideImg {
    width: 30%;
    padding-left: 0;
  }

  #eco-cicle .SideTxt {
    width: 70%;
    padding-left: 0;
  }

  #eco-cicle .SideTxt h5 {
    font-size: 22px;
  }

  #eco-cicle .SideTxt p {
    font-size: 15px;
    line-height: auto;
  }

  .SquareImgWrap img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }

  /* 
  .DivSectionWrap.DivRight::before,
  .DivSectionWrap.DivLeft::before {
    background: linear-gradient(350deg, transparent 45%, white 40%) no-repeat
      center right / cover;
  } */

  .TextGroup {
    flex-direction: column;
    gap: 10px;
  }

  .TextGroup .HalfText {
    width: 100%;
  }

  #main-services,
  #main-innovation,
  #main-about,
  #services-contact {
    background: none;
  }
  
  #main-innovation::before {
    /* background: var(--blue4); */
    clip-path: none;
  } 

  #main-services:before {
    /* background: var(--tgreen5); */
    clip-path: none;
  } 

  #main-about:before {
    /* background: var(--brown4); */
    clip-path: none;
  } 

  #services-contact::before {
    clip-path: none;
  }

  #services-stripe {
    display: block;
  }
  
}

@media (max-width: 800px) {

  #eco-cicle .Content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #eco-cicle .SideImg,
  #eco-cicle .SideTxt {
    width: 90%;
    margin: 0;
  }

  #eco-cicle img {
    max-width: 300px;
  }

  #eco-cicle .SideTxt {
    padding-top: 30px;
    text-align: center;
  }

  #eco-cicle .SideTxt p{
    font-size: 1rem;
  }

}

@media (max-width: 640px) {

  h1 {
    font-size: 14vw;
    line-height: 14vw;
  }

  h2 {
    font-size: 6vw;
    line-height: 7vw;
  }

  h3 {
    font-size: 6vw;
    line-height: 7vw;
  }
  
  .HeroSection h6 {
    margin-bottom: 14px;

  }

  .QuoteContent {
    padding: 0px ;
  }
  
  .QuoteContent h4 {
    font-size: 4.6vw;
    line-height: 6vw;
  }
  
}

@media (max-width: 480px) {

  /* h1 {
    font-size: 14vw;
    line-height: 14vw;
  } */

  /* h2 {
    font-size: 7.8vw;
    line-height: 10vw;
  } */

  h3 {
    font-size: 7vw;
    line-height: 9vw;
    /* padding-bottom: 8px; */
  }
  
  .HeroSectionWrap {
    margin-top: -60px;
  }

    /* .animation-up,
  .animation-up.slide-up {
    opacity: 1;
    transform: translateY(0);
    transition: none;
  } */

  /* .HeroContent {
    text-align: left;
    align-items: flex-start;
  }

  .HeroContent h1 {
    width: 100%;
  } */

  /* .HeroSection h1 {
    max-width: 90% !important;
  }
   */

   /* 
  .Hero h6,
  .HeroContent h6 {
    width: 100% !important;
  }

  .HeroSection .AppBtn button {
    margin-top: 25px;
  }

  .Partners {
    height: 80px;
  }
    .PartnerLogos {
      height: 60px;
    }
    .PartnerLogos img {
      height: 18px;
      padding: 0 3vw;
    } */

}

  @media (max-width: 360px) {

  /* section,
  .HeroSection,
  .FooterContent {
    padding: 40px 4vw;
  }

  h1 {
    font-size: 12vw;
    line-height: 14vw;
  }

  h2 {
    font-size: 8vw;
    line-height: 10vw;
  }

  h3, h4 {
    font-size: 7vw;
    line-height: 9vw;
  }

  .HeroContent h1 {
    max-width: 80% !important;
    margin-bottom: 20px !important;
  }

  .Hero h6,
  .HeroContent h6 {
    font-size: 4.8vw;
    line-height: 7.2vw;
    font-weight: 300;
    letter-spacing: 0.01rem;
  } */

} 






/* section {
  padding: 100px;
} */

/* .Main section > div {
  margin: auto;
}

.Main section {
  min-height: 500px;
} */



/* #innovation-hero {
  background: linear-gradient(180deg, 
  rgba(0, 58, 139, 0.9), 
  transparent, transparent),

  url(../public/img/projectes.jpg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-position: center center;
  background-size: cover;
} */

/* .HeroSectionWrap {
	background: 
  
  linear-gradient(180deg, 
  var(--blue4),
  hsla(200, 79%, 44%, 0.1), 
  transparent),

  linear-gradient(90deg, 
  hsla(200, 94%, 20%, 0.7),
  hsla(200, 94%, 20%, 0.6),
  hsla(200, 94%, 20%, 0.1),
  transparent 100%),
  
  url(../public/img/splash.jpg);
  
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-position: center center;
  background-size: cover;
} */

/* .HeroBgWrap {
  position: absolute;
  top: 0px;
  right: 0;
  z-index: -1;
  width: 100%; 
  display: flex; 
  justify-content: center; 
  overflow-x: hidden;
}

.HeroBg {
  position: relative;
  top: 0;
  right: 0;
  z-index: 0;
} */